.chat-full-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.chat-full-screen .chatbot-container {
  border-radius: 0;
  border: none;
  height: 100%;
}
